

body{background-color: #868686



}





.about{font-size: 44px;
	font-family: "Oswald", sans-serif;
	color: #ff7600;
	width: 200px;
	padding: 50px;
 
}

	.locations {font-size: 50px;
		font-family: "Oswald", sans-serif;
	color:  #ff7600;
	width: 200px;
  padding: 50px;
 
}

.member{ font-size: 43px;
	font-family: "Oswald", sans-serif;
	color: #ff7600;
	width: 200px;



}