.about{font-size: 44px;
	font-family: "Merriweather", sans-serif;
	color: ;
	width: 200px;
  border: 15px solid orangered;
  padding: 48px;
 
}

	.locations {font-size: 50px;
		font-family: "Merriweather", sans-serif;
	color: ;
	width: 200px;
  border: 15px solid orangered;
  padding: 50px;
 
}